.trips-page .box-time .cp4 {
    margin-left: 0px;
    clear: none;
}

.trips-page .panel.panel-CLDV .navbar-toggle,
.trips-page .panel.panel-CLDV.cvs-collapse-panel .navbar-toggle {
    margin-top: 0px;
    margin-right: 0px;
}


.pull-right {
    float: right!important;
}

#wrapper .trips-page .option-pan 
{
    border-radius: 0 0 3px 3px;
    padding: 10px;
}

.trips-page .panel.panel-CLDV {
	background: #fff none repeat scroll 0 0;
}

#wrapper .trips-page .option-pan {
	background: #fff none repeat scroll 0 0;
}
#wrapper .trips-page .option-pan {
	background: #313a42 none repeat scroll 0 0;
}

.main-view-trips {
    border-radius: 3px;
    margin-left: 0px;
    min-height: 400px;
}

.panel-CLDV .panel-heading > h4 {
    float: left;
    font-size: 13px;
    font-weight: bold;
    line-height: 12px;
    margin: 0;
    padding: 12px 11px 10px 15px;
}

.panel-CLDV > .panel-heading {
    height: 36px !important;
    padding: 0px !important;
    margin: 0px !important;
}

.row {
    margin-left: 15px !important;
    display: flex !important;
}

.top-buffer { margin-top:20px; }
